<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/_head',{title:'Agregar Vino'}); %>
</head>
<body>
  <%- include('./partials/_header'); %>
  <div class="text-center">
    <%if ( typeof body !== 'undefined' && body.edit ) { %>
      <h1>Modificar Vino</h1>
    <% } else { %>
      <h1>Agregar Vino</h1>
    <% } %>
  </div>
  <div class="container">
    <div class="row px-5">
      <% if(typeof id !== 'undefined') { %>
        <div class="alert alert-success" role="alert">
          Insertado vino correctamente con id <%= id %>
        </div>
      <% } %> 
      <% if(typeof alert != 'undefined') { %> 
        <% alert.forEach( (error) => { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% }); %> 
      <% } %>
      <%if ( typeof body !== 'undefined' && body.edit ) { %>
        <form class="needs-validation was-validated" autocomplete="off" action="/vino/modificarVino" enctype="multipart/form-data" method="POST">
          <input type="hidden" name="id" value="<%=body.id%>" />
        <% } else { %>
        <form class="needs-validation was-validated" autocomplete="off" action="/vino/agregarVino" enctype="multipart/form-data" method="POST">
        <% } %>
        <div class="row mt-1">
          <label for="validationCustom01" class="form-label">Nombre</label>
          <input class="form-control" id="validationCustom01" minlength="1" maxlength="50" type="text" name="nombre" value="<%= typeof(body) !== 'undefined' ? body.nombre : ''%>"
            required />
        </div>
        <div class="row mt-1">
          <label for="anyada" class="form-label">Añada</label>
          <input class="form-control" id="anyada" min="1800" max="<%= new Date().getFullYear() %>" type="number" name="anyada" value="<%= typeof(body) !== 'undefined' ? body.anyada : ''%>"
            required />
        </div>
        <div class="row mt-1">
          <label for="validationCustom02" class="form-label">Grado alcoholico:</label>
          <input class="form-control" id="validationCustom02" name="graduacion" value="<%= typeof(body) !== 'undefined' ? body.graduacion : ''%>"
            type="number" step="0.01" min="5" max="20" required />
        </div>
        <div class="row mt-1">

          <label for="validationCustom03" class="form-label">Bodega:</label>
          <input class="form-control" id="validationCustom03" minlength="1" maxlength="50" name="bodega" value="<%= typeof(body) !== 'undefined' ? body.bodega : ''%>" type="text"
            required />

        </div>
        <div class="row mt-1">
          <label for="validationCustom04" class="form-label">Localidad:</label>
          <input class="form-control" id="validationCustom04" minlength="1" maxlength="50" name="localidades" value="<%= typeof(body) !== 'undefined' ? body.localidades : ''%>" type="text"
            required />

        </div>
        <div class="row mt-1">
          <label for="selectClase" class="form-label">Clase:</label>
          <select id="selectClase" class="selectpicker form-select" name="clase" data-style="btn-danger">            
          </select>
        </div>
        <div class="row mt-1">
          <label for="tipo" class="form-label">Tipo:</label>
          <input id="tipo" class="form-control" type="text" value="<%= typeof(body) !== 'undefined' ? body.tipo : ''%>" readonly/>
        </div>
        <div class="row mt-1">
          <label for="selectMaceracion" class="form-label">Maceración:</label>
          <select id="selectMaceracion" class="selectpicker form-select" name="maceracion" value="<%= typeof(body) !== 'undefined' ? body.maceracion : ''%>" data-style="btn-danger">
            <option>Crianza</option>
            <option>Joven</option>
            <option>Roble</option>
            <option>Reserva</option>
            <option>Gran Reserva</option>
          </select>
        </div>

        <div class="row mt-1">          
          <label for="variedad" class="form-label">Variedad:</label>
          <div id="js-input-variedad" class="p-0">
            <input type="hidden" class="form-control" name="variedad" id="variedad" value="<%= typeof(body) !== 'undefined' ? body.variedad : '{}'%>">
            <div class="table-responsive">
              <table class="table table-hover table-dark w-auto">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Porcentaje</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="containerVariedad">
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">
                      <div class="input-group">
                        <input type="text" minlength="1" maxlength="25" class="form-control" placeholder="Nombre..." id="nameVariedad">
                      </div>
                    </td>
                    <td><button id="addVariedad" class="btn btn-info" type="button"><i class="bi bi-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="row g-0 mt-1">
          <div class="col-12">
            <img <%= typeof body !== 'undefined' && body.foto ? `src=data:image/webp;base64,${body.foto}` : '' %> 
              id="img-preview" 
              class="img-thumbnail" 
              style="height: 100px;<%= typeof body !== 'undefined' && body.foto ? '' : 'display:none;'%>">
            <label for="img-upload" class="form-label btn btn-success">Imagen</label>
            <input type="file" id="img-upload" name="imagen" class="form-control d-none" accept="image/png,image/jpeg" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col d-grid">
            <button type="submit" class="btn menu boton-buscar btn-dark">
              <%if ( typeof body !== 'undefined' && body.edit ) { %>
                <h2>Modificar</h2>
              <% } else { %>
                <h2>Agregar</h2>
              <% } %>
            </button>
          </div>
          <div class="col d-grid">
            <a type="button" href="/" class="btn btn-lg btn-dark">
              <h2>Volver</h2>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/static/javascripts/vino_variante.js"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      validarFormulario();
      cambiarTipoSegunClase();


      document.getElementById('img-upload').addEventListener('change',(e) => changeImgPreview(e));

      function changeImgPreview(e) {
        if(e.target.files.length > 0){
          const src = URL.createObjectURL(event.target.files[0]);
          const preview = document.getElementById("img-preview");
          preview.src = src;
          preview.style.display = "inline-block";
        }
      }

      function validarFormulario() {
        const forms = document.querySelectorAll(".needs-validation");
        // Loop over them and prevent submission
        forms.forEach((form) => {
          form.addEventListener("submit", (event) => {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
          },false);
        });
      }

      async function fetchClasesVino() {
        let clases = {};
        try {
          const res = await fetch('/vino/clasesVino');
          if(!res.ok) throw new Error();
          const json = await res.json();
          
          clases = json.reduce((obj,item) => {
            obj[item.clase] = item.tipo;
            return obj;
          },{})
        } catch (error) {
          clases = {};
        }
       
        return clases;
      }

      async function cambiarTipoSegunClase() {
        const selector = document.querySelector("#selectClase");
        const tipo = document.querySelector("#tipo");
        const clases = await fetchClasesVino();

        let selected = "<%= typeof(body) !== 'undefined' ? body.clase : ''%>" 
        Object.keys(clases).map(key => {
          selector.insertAdjacentHTML( 'beforeend', `<option ${selected === key ? 'selected' : ''}>${key}</option>` )
        })

        selector.addEventListener("change", (evt) => changeTipo(evt.currentTarget.value));
        changeTipo(selector.value);

        function changeTipo(val) {
          tipo.value = clases.hasOwnProperty(val) ?
            clases[val] :
            'No definido';
        }
      }
    });
  </script>
  <%- include('./partials/_footer'); %>
</body>

</html>