<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/_head',{title:'Agregar Vino'}); %>
</head>
<body>
    <%- include('./partials/_header'); %>
    <div class="text-center"><h1>Agregar Vino</h1></div>
    <div class="container">
        <div class="row"> 

            <% if(typeof id !== 'undefined') { %>                
                <div class="alert alert-success" role="alert">
                    Insertado vino correctamente con id <%= id %>
                </div>                
            <% } %> 

            <% if(typeof alert != 'undefined') { %> 
                <% alert.forEach( (error) => { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= error.msg %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% }); %> 
            <% } %> 
            <form class="needs-validation" action="/vino/agregarVino" enctype="multipart/form-data" method="POST" novalidate>
                <div class="row mt-1">
                    <label for="validationCustom01" class="form-label">Nombre</label>
                    <input class="form-control" id="validationCustom01" minlength="1" maxlength="50" type="text" name="nombre" required>
                    <div class="valid-feedback">
                        Nombre correcto!
                    </div>
                    <div class="invalid-feedback">
                        Nombre incorrecto!
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom02" class="form-label">Grado alcoholico:</label>
                    <input class="form-control" id="validationCustom02" minlength="1" maxlength="2" name="gradoAlcohol" type="number" step="0.01" min="0" max="20" required >
                    <div class="valid-feedback">
                        Grado alcoholico correcto!
                    </div>
                    <div class="invalid-feedback">
                        Grado alcoholico incorrecto!
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom03" class="form-label">Bodega:</label>
                    <input class="form-control" id="validationCustom03" minlength="1" maxlength="59" name="bodega" type="text" required/>
                    <div class="valid-feedback">
                        Bodega correcta!
                    </div>
                    <div class="invalid-feedback">
                        Bodega incorrecta!
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom04" class="form-label">Localidad:</label>
                    <input class="form-control" id="validationCustom04" minlength="1" maxlength="20" name="localidad" type="text" required/>
                    <div class="valid-feedback">
                        ¡Localidad correcta!
                    </div>
                    <div class="invalid-feedback">
                        ¡Localidad incorrecta!
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="selectClase" class="form-label">Clase:</label>
                    <select id="selectClase" class="selectpicker form-select" name="clase" data-style="btn-danger">
                        <option>Blanco</option>
                        <option>Rosado</option>
                        <option>Tinto</option>
                        <option>Clarete</option>
                        <option>Blanc de blanc</option>
                        <option>Blanc de noirs</option>
                        <option>Vino de nueces</option>
                        <option>Vino especiado</option>
                        <option>Ninguna clase</option>
                    </select>
                </div>
                <div class="row mt-1">
                  <label for="tipo" class="form-label">Tipo:</label>
                  <input id="tipo" class="form-control" type="text" name="tipo" value="Tranquilo" readonly>
                </div>
                <div class="row mt-1">
                  <label for="selectMaceracion" class="form-label">Maceración:</label>
                  <select id="selectMaceracion" class="selectpicker form-select" name="maceracion" data-style="btn-danger">
                      <option>Crianza</option>
                      <option>Joven</option>
                      <option>Roble</option>
                      <option>Reserva</option>
                      <option>Gran Reserva</option>
                  </select>
              </div>
                <div class="row mt-1">
                    <label for="file" class="form-label">Imagen:</label>
                    <input type="file" name="imagen" class="form-control" accept="image/png,image/jpeg">
                </div>
                <div class="row mt-4">
                    <div class="col d-grid">
                        <button type="submit" class="btn menu boton-buscar btn-dark "><h2>Agregar</h2></button>
                    </div>
                    <div class="col d-grid">
                        <a type="button" href="/" class="btn btn-lg btn-dark " ><h2>Volver</h2></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded',()=>{
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
      'use strict'
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
  
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
          .forEach(function (form) {
          form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
              }
  
              form.classList.add('was-validated')
          }, false)
          })
      })()

      let selector = document.querySelector("#selectClase");
      let tipo = document.querySelector("#tipo");
      let tiposVinos = ['Tranquilo','Espumoso','Espirituoso','Vino oloroso'];
      selector.addEventListener("change", (evt) => {
        switch (evt.currentTarget.value) {
          case 'Blanco':
            case 'Rosado':
            case 'Tinto':
            case 'Clarete':
              tipo.value=tiposVinos[0];
            break;
          case 'Blanc de blanc':
          case 'Blanc de noirs':
            tipo.value=tiposVinos[1];
            break;
          case 'Vino de nueces':
          case 'Vino especiado':
            tipo.value=tiposVinos[2];
            break;
          case 'Ninguna clase':
            tipo.value=tiposVinos[3];
            break;
        }
      });
    })        
    </script>
    <%- include('./partials/_footer'); %>
</body>
</html>