<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head',{title:message}); %>
</head>
<body>
  <%- include('./partials/_header'); %>
  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
</body>
</html>


