<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/_head',{title}); %>
  </head>
  <body>
    <%- include('./partials/_header'); %>
    <h1>Detalles vino <%= vino.id %></h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-5">
          <img src="data:image/png;base64, <%= vino.foto %>" class="img-fluid" alt="Foto vino">
        </div>
        <div class="col-7">

          <div class="input-group mb-3">
            <div class="input-group-prepend col-4">
              <span class="input-group-text">Nombre</span>
            </div>
            <input type="text" value="<%=vino.nombre%>" class="form-control" readonly>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend col-4">
              <span class="input-group-text">Clase</span>
            </div>
            <input type="text" value="<%=vino.clase%>" class="form-control" readonly>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend col-4">
              <span class="input-group-text">tipo</span>
            </div>
            <input type="text" value="<%=vino.tipo%>" class="form-control" readonly>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend col-4">
              <span class="input-group-text">graduacion</span>
            </div>
            <input type="text" value="<%=vino.graduacion%>" class="form-control" readonly>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend col-4">
              <span class="input-group-text">bodega</span>
            </div>
            <input type="text" value="<%=vino.bodega%>" class="form-control" readonly>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend col-4">
              <span class="input-group-text">localidades</span>
            </div>
            <input type="text" value="<%=vino.localidades%>" class="form-control" readonly>
          </div>   

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Eliminar vino</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Estas seguro de que quieres borrar el vino?
                </div>
                <div class="modal-footer">

                  <form action="borrarVino">
                    <input type="hidden" name="id" id="id" value="<%=vino.id%>" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                </div>
              </div>
            </div>
          </div> 


        </div>
      </div>
    </div>
    <script src="/static/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>
