<!DOCTYPE html>
<html>
  <style>
    .val_total{
      text-align: center;
    }

    #valorar {
      margin: 0 auto;
    }

    #valorar label {
      font-size: 28px;
    }

    input[type="radio"] {
      display: none;
    }

    label {
      color: rgb(194, 194, 194);
    }

    .clasificacion {
      direction: rtl;
      unicode-bidi: bidi-override;
    }

    label:hover,
    label:hover ~ label {
      color: orange;
    }

    input[type="radio"]:checked ~ label {
      color: orange;
    }
    .val{
      color:rgb(157, 157, 157);
    }
  </style>
  <head>
    <%- include('./partials/_head',{title}); %>
  </head>
  <body>
    <%- include('./partials/_header'); %>

    <div class="container-md px-4">
      <div class="card bg-dark p-3">
        <div class="row">
          <div class="col-12 col-sm-4 my-auto d-flex justify-content-center">

            <% if (vino.foto !== null) { %> 
              <img src="data:image/png;base64, <%= vino.foto %>" class="img-fluid rounded" alt="Foto vino">
            <% } else { %>
              <img src="/static/images/vino.jpg" class="img-fluid rounded" alt="Foto vino">
            <% } %> 

          </div>
          <div class="col-12 col-sm-8 pt-3">
            <div class="row gx-0">
              <div class="col-6 col-lg-8" >
                <div class="row">
                  <h1 class="text-white text-capitalize"><%= vino.nombre %></h1>
                </div>
                <% if (vino.valoraciones[0].numVal != 0) { %>
                <div class="row val">
                    <h4 class="fw-bold"><%=vino.valoraciones[0].media%>★</h4>
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                      </svg>
                      <%=vino.valoraciones[0].numVal%>
                    </span>
                </div>
                <% } %>
              </div>
              <% if (typeof(session.user) !== 'undefined' && session.user.role === 'UR' ) { %> 
              <div class="col-6 col-lg-4 text-center">
                <h4 class="val">Tu valoración</h4>
                <form id="valorar" name="valorar" method="post" action="/vino/valorarVino">
                  <p class="clasificacion">
                    <% if(vino.valoracion.length > 0 && vino.valoracion[0].valoracion == 5) { %>
                      <input id="radio1" type="radio" name="valoracion" value="5" checked>
                    <% } else { %>
                      <input id="radio1" type="radio" name="valoracion" value="5">
                    <% } %>
                    <label for="radio1">★</label>
                    <% if(vino.valoracion.length > 0 && vino.valoracion[0].valoracion == 4) { %>
                      <input id="radio2" type="radio" name="valoracion" value="4" checked>
                    <% } else { %>
                      <input id="radio2" type="radio" name="valoracion" value="4">
                    <% } %>
                    <label for="radio2">★</label>
                    <% if(vino.valoracion.length > 0 && vino.valoracion[0].valoracion == 3) { %>
                      <input id="radio3" type="radio" name="valoracion" value="3" checked>
                    <% } else { %>
                      <input id="radio3" type="radio" name="valoracion" value="3">
                    <% } %>
                    <label for="radio3">★</label>
                    <% if(vino.valoracion.length > 0 && vino.valoracion[0].valoracion == 2) { %>
                      <input id="radio4" type="radio" name="valoracion" value="2" checked>
                    <% } else { %>
                      <input id="radio4" type="radio" name="valoracion" value="2">
                    <% } %>
                    <label for="radio4">★</label>
                    <% if(vino.valoracion.length > 0 && vino.valoracion[0].valoracion == 1) { %>
                      <input id="radio5" type="radio" name="valoracion" value="1" checked>
                    <% } else { %>
                      <input id="radio5" type="radio" name="valoracion" value="1">
                    <% } %>
                    <label for="radio5">★</label>
                    <input type="hidden" value="<%= vino.id %>" name="idVino" />
                  </p>
                </form>
              </div>
              <% } %>
              <% if (typeof(session.user) !== 'undefined' && session.user.role === 'GC' ) { %> 
                <!-- Button trigger modal -->
                <button type="button" class="col-3 col-lg-1 btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="bi bi-trash"></i>
                </button>
              <% } %>
            </div>
            <hr class="text-muted">
            <div class="row">
              <% Object.keys(vino).forEach((atr) => { %>
                <% if(!['id','comentarios','foto','activo','nombre','valoracion','valoraciones'].includes(atr)) { %> 
                  <div class="col-6">
                    <div class="row mb-2">
                      <span class="col-6 text-capitalize text-muted text-nowrap fw-bold"><%= atr %></span>
                      <span class="col-6 text-uppercase text-white fw-bold"><%= vino[atr] %></span>
                    </div>
                  </div>
                <% } %> 
              <% }) %>               
            </div>
            <hr class="text-muted">

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar vino</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-body">Estas seguro de que quieres borrar el vino?</p> 
                  </div>
                  <div class="modal-footer">
                    <form action="borrarVino" method="POST">
                      <input type="hidden" name="id" id="id" value="<%=vino.id%>" />
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
    </div>

    <div class="card bg-dark my-5">
      <div class="card-body">
        <h5 class="card-title text-white">Comentarios</h5>

        <% if (typeof(session.user) !== 'undefined' && session.user.role !== 'GC' ) { %> 
        <div class="row gx-0 text-white mt-1">
          <div class="pb-3 border-bottom">
            <form action="/vino/comentarVino" method="POST">
              <input type="hidden" name="idVino" id="idVino" value="<%=vino.id%>" />
              <div class="row gx-0">
                <textarea class="bg-transparent border border-2 rounded p-3 text-white" name="texto" minlength="5" maxlength="280" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary mt-2 align-items-center">Publicar</button>
            </form>
          </div>
        </div>
        <% } %>
        <div class="row text-white gx-0 pb-5">
          <% vino.comentarios.forEach(comentario => { %>
          <div class="row g-0">
              <div class="row g-0">
                <p id="<%= comentario.id %>"></p>
                <p class="fw-bold"><%= comentario.user %><span class="badge"><%= comentario.fecha.toLocaleString('es-ES') %></span></p> 
              </div>
              <div class="row g-0">
                <div class="col-10 col-sm-11 border border-2 rounded p-1">
                  <p class="m-0"><%= comentario.texto %></p>
                </div>
                <% if (typeof(session.user) !== 'undefined' && (comentario.user === session.user.name || session.user.role == 'GC' )) { %> 
                  <div class="col-2 col-sm-1 text-center border-2 rounded p-2">
                    <form action="borrarComentario" method="POST">
                      <input type="hidden" name="idVino" id="idVino" value="<%=vino.id%>" />
                      <input type="hidden" name="idComentario" id="idComentario" value="<%=comentario.id %>" />
                      <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                    </form>
                </div>
                <% }%>
              </div>
          </div>
          <% }) %>
        </div>
                
      </div> 
      </div>
    </div>
    <%- include('./partials/_footer'); %>
  </body>
</html>


<script type="text/javascript">
  document.getElementById("valorar").addEventListener("click", function() {
    document.valorar.submit();
  });
</script>