<!DOCTYPE html>
<html>
  <style>
    .val_total{
      text-align: center;
    }

    #valorar {
      display: inline-block;
      margin: 0 -4px;
    }

    #valorar label {
      font-size: 28px;
    }

    input[type="radio"] {
      display: none;
    }

    label {
      color: rgb(194, 194, 194);
    }

    .clasificacion {
      direction: rtl;
      unicode-bidi: bidi-override;
    }

    label:hover,
    label:hover ~ label {
      color: rgb(144, 93, 0) !important;
    }

    input[type="radio"]:checked ~ label {
      color: gold;
    }

    .val{
      color:rgb(0, 0, 0);
    }
  </style>
  <head>
    <%- include('./partials/_head',{title}); %>
  </head>
  <body>
    <%- include('./partials/_header'); %>

    <div class="container-md px-4">
      <div class="card bg-dark p-3">
        <div class="row">
          <div class="col-12 col-sm-4 my-auto d-flex justify-content-center">

            <% if (vino.foto !== null) { %> 
              <img src="data:image/webp;base64, <%= vino.foto %>" class="img-fluid rounded" alt="Foto vino">
            <% } else { %>
              <img src="/static/images/vino.jpg" class="img-fluid rounded" alt="Foto vino">
            <% } %> 

          </div>
          <div class="col-12 col-sm-8 pt-3">
            <div class="row gx-0">
                <div class="row">
                  <div class="col">
                    <h1 class="text-black text-capitalize"><%= vino.nombre %></h1>
                  </div>
                  <% if (typeof(session.user) !== 'undefined' && session.user.role === 'GC' ) { %> 
                    <!-- Button trigger modal -->
                      <button type="button" class="col-2 col-lg-1 btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarModal">
                        <i class="bi bi-pencil-fill"></i>
                      </button>
                      <button type="button" class="col-2 col-lg-1 btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="bi bi-trash"></i>
                      </button>
                  <% } %>           
                </div>
                <div class="row val">
                  <div class="col" style="color: gold; text-shadow: 2px 2px 2px #CE5937;">
                      <% if (vino.valoraciones.numVal != 0) { %>
                      <h4 class="fw-bold"><%=vino.valoraciones.media%>★</h4>
                      <span>
                        <i class="bi bi-people-fill" style="font-size: 22px;"></i>
                        <%=vino.valoraciones.numVal%>
                      </span>
                      <% } %> 
                  </div>
                  <% if (typeof(session.user) !== 'undefined' && session.user.role === 'UR' ) { %> 
                    <div class="col-8 col-lg-4 text-center">
                      <h5 class="mb-0 val">Tu valoración</h5>       
                      <form id="valorar" method="post" action="/vino/valorarVino">
                        <div class="clasificacion">
                          <% for(let i = 5; i >= 1; i--) { %><!-- 
                          --><input id="radio<%= i %>" type="radio" name="valoracion" value="<%= i %>" <%= vino.valoracion == i ? 'checked' : '' %>><!--
                          --><label style="text-shadow: 1px 2px 4px #3a3838;" for="radio<%= i %>">★</label><!-- 
                        --><% } %> 
                          <input type="hidden" value="<%= vino.id %>" name="idVino" />
                        </p>
                      </form>
                    </div>
                  <% } %>
                </div>
            </div>
            <hr class="text-muted">
            <div class="row">
              <% Object.keys(vino).forEach((atr) => { %>
                <% if(!['id','comentarios','foto','activo','nombre','valoracion','valoraciones'].includes(atr)) { %> 
                  <div class="col-6">
                    <div class="row mb-2">
                      <span class="col-12 col-lg-6 text-capitalize text-muted text-nowrap fw-bold"><%= atr %></span>
                      <span class="col-12 col-lg-6 text-uppercase text-black"><%= vino[atr] %></span>
                    </div>
                  </div>
                <% } %> 
              <% }) %>               
            </div>
            <hr class="text-muted">

            <!-- Modal borrar-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar vino</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-body">Estas seguro de que quieres borrar el vino?</p> 
                  </div>
                  <div class="modal-footer">
                    <form action="borrarVino" method="POST">
                      <input type="hidden" name="id" id="id" value="<%=vino.id%>" />
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div> 
            <!-- Modal editar-->
            <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar vino</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-body">Estas seguro de que quieres editar el vino?</p> 
                  </div>
                  <div class="modal-footer">
                    <form action="modificarVino" method="GET">
                      <input type="hidden" name="id" value="<%=vino.id%>" />
                      <button type="submit" class="btn btn-danger">Editar</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
    </div>

    <div class="card bg-dark my-5">
      <div class="card-body">
        <h5 class="card-title text-black">Comentarios</h5>

        <% if (typeof(session.user) !== 'undefined' && session.user.role !== 'GC' ) { %> 
        <div class="row gx-0 text-black mt-1">
          <div class="pb-3">
            <form action="/vino/comentarVino" method="POST">
              <input type="hidden" name="idVino" id="idVino" value="<%=vino.id%>" />
              <div class="row gx-0 bg-light">
                <textarea class="bg-transparent border border-2 rounded p-3 text-black" name="texto" minlength="5" maxlength="280" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary mt-2 align-items-center">Publicar</button>
            </form>
          </div>
        </div>
        <% } %>
        <div class="row text-black gx-0 pb-5">
          <% vino.comentarios.forEach(comentario => { %>
          <div class="row g-0">
              <div class="row g-0">
                <p id="<%= comentario.id %>"></p>
                <p class="fw-bold"><%= comentario.user %><span class="ms-2 badge" style="background-color: #26517e;"><%= comentario.fecha.toLocaleString('es-ES') %></span></p> 
              </div>
              <div class="row g-0">
                <div class="col-10 col-sm-11 border border-2 rounded p-1 bg-light">
                  <p class="m-0"><%= comentario.texto %></p>
                </div>
                <% if (typeof(session.user) !== 'undefined' && (comentario.user === session.user.name || session.user.role == 'GC' )) { %> 
                  <div class="col-2 col-sm-1 text-center border-2 rounded p-2">
                    <form action="borrarComentario" method="POST">
                      <input type="hidden" name="idVino" id="idVino" value="<%=vino.id%>" />
                      <input type="hidden" name="idComentario" id="idComentario" value="<%=comentario.id %>" />
                      <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                    </form>
                </div>
                <% }%>
              </div>
          </div>
          <% }) %>
        </div>
                
      </div> 
      </div>
    </div>
    <%- include('./partials/_footer'); %>
    <% if (typeof(session.user) !== 'undefined' && session.user.role === 'UR' ) { %> 
      <script type="text/javascript">
        document.getElementById("valorar").addEventListener("change", function() {
          document.getElementById("valorar").submit();
        });
      </script>
    <% } %>
  </body>
</html>

